@tailwind base;
@tailwind components;
@tailwind utilities;


main::-webkit-scrollbar {
  width: 8px; 
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 4px;
  border: 2px solid transparent; 
  background-clip: content-box; 
}


main {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

/* ye sidebar ka scrobbale hai */

aside::-webkit-scrollbar {
  width: 8px;
}

aside::-webkit-scrollbar-track {
  background: transparent;
}

aside::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
  border: 2px solid transparent; 
  background-clip: content-box;
}

aside {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
